body{
    height: 800px;
    background-image: url("https://img.freepik.com/vector-gratis/grupo-personal-medico-que-lleva-iconos-relacionados-salud_53876-43071.jpg?w=2000");
    background-size: cover;
    background-size: 55rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.tarjeta{
    height: 500px;
    color: blue;
    background-size: cover;
    background-position: center;
}

.tarjeta .h5 {
    color: brown;
    text-align: center;
}
