
@import url('https://fonts.googleapis.com/css2? family= Montserrat:wght@100;200 & family= Poppins:ital,wght@1,100 & display=swap');

/*agregamos estilos de letras al body*/
body{
    font-family: 'Monserrat', 'Times New Roman', Times, serif;
    overflow-x: hidden;
}

body{
    background-color: aliceblue;
}

#menu a{
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;
}

#menu button{
    font-size: 18px;
    font-weight: bold;
}

nav {
    color: #000;
}


footer{
    background-color: rgb(23, 163, 225);
    text-align: center;
}

#tarjeta-bienvenido div > h1{
    text-align: center;
}

h1, p{
    text-align: center;
}

.carrusel-inner{
    max-height: 39rem;
}


